<div @ref="@_divCanvas" @onclick="@OnCanvasClick" @onkeydown="@OnCanvasKeyDown" @onkeyup="@OnCanvasKeyUp" @onkeypress="@OnCanvasKeyPress">
    <BECanvas @ref="@_beCanvas" Width="640" Height="480"></BECanvas>
</div>